h2.card-header{
    border-bottom:1px solid #ebeff2;
	padding:19px 0;
	text-align:center;
	color:#59687f;
	font-size:600;
	font-size:19px;	
	position:relative;
}  



.plannedCard{
	padding-bottom: 100px;
}

.planned-color{
	fill: rgb(54, 48, 51);
}
.closed-color{
	fill: #cc0000;
}

.scheduled-color{
	fill:#ff8533
}

.ongoing-color{
	fill:#66cc99;
}

