@import 'variables.scss';
@import 'header/header.scss';
@import 'footer/footer.scss';
@import 'form/form.scss';
@import 'menu/normalize.scss';
@import 'menu/menu.scss';
@import 'index.scss';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

label {
  font-size: 14px;
}

.auditMenu {
  list-style: none;
}
.auditMenuItem {
  list-style: none;
}
.clickable {
  &:hover {
    cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.apartment {
  color: #a72da3;
}

.house {
  color: #bf1818;
}

.condo {
  color: #d68000;
}

.btn-bwm {
  background-color: $main-color;
  border-color: $main-color;
  color: white;
  font-size: 20px;

  &:hover, &:focus, &:active {
    border-color: $main-color !important;
    background-color: $main-color !important;
  }
}

.default-table {
  background: #f7f7f7;
}
.page-item.active .page-link {
  z-index: 0 !important;
}

.react-bs-table-container {
  min-height: 700px;
  overflow: auto;
  height: 100%;
}

#issue {
 // min-height: 500px;
  //height: 1000px;
  max-height: 450px;
  overflow: auto;
}

// #auditplan {
//   max-height: 500px;
//   height: auto;
//   overflow: auto;
// }

#audiplanedit {
  max-height: 500px;
  height: auto;
  overflow: auto;
}





